{% extends 'header.html' %}
{% block content %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
    * {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
      text-transform: capitalize;
      -webkit-transition: .2s linear;
      transition: .2s linear;
    }
    body {
        background-color: #fff;
    }
    html {
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
    .index-head {
        margin: 3%;
        margin-bottom: 0%;
        font-size: x-large;
        display: flex;
    }
    h1 {
        text-transform: none;
        color: #7f1734;
        margin-left: 35%;
    }
    hr {
        background-color: grey;
        width: 100%;
        height: 2px;

    }
    .container {
        display: flex;
        height: 100%;
    }
    .sidebar{
        padding:5% ;
        padding-left: 10%;
        padding-top: 7%;
    }
    .sidebar-list {
        list-style: none; 
    }
    .sidebar-list-item {
        border: 2px solid #7f1734;
        background-color: #fff;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        margin-bottom: 2%;
    }
    .sidebar-list-item a {
        font-weight: 700;
        font-size: 30px;
        color: #7f1734;
    }
    .content-title {
        color: #7f1734;
        position: absolute;
        font-size: 30px;
        margin-top: 1%;
        margin-left: 30%;
    }
    .add-button{
        position: absolute;
        right: 8%;
        margin-top: 1%;
        font-size: 16px;
        background-color: #fff;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #7f1734;
    }
    .add-button a {
        text-decoration: none;
        color: #7f1734;
        font-weight: 500;
    }
    .content {
        background-color: #fff;
        padding: 2%;
        margin-right: 4%;
        width: 100%;
        margin-top: 4%;
        overflow-y: auto;
        max-height: 417px;
        border: 1px solid #7f1734;
    }
    .content-list {
        list-style: none;
        background-color: #fff;
    }
    .content-list-item {
        background-color: #fff;
        border: solid #7f1734;
        margin: 0%;
        margin-bottom: 2%;
        padding-left: 2%;
        text-align: center;
    }
    .content-list-item a {
        font-weight: 500;
        font-size: 25px;
        color: #7f1734;
    }
</style>
<body>
    <div class="index-head">
        <h1 class="head-title">Welcome Admin</h1>
    </div>
    <hr/>
    <div class="container">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="{% url 'adminrenterlist' %}">Renter</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'adminownerlist' %}">Owner</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'admincarlist' %}">Car</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'adminbookinglist' %}">Booking</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'adminfeedbacklist' %}">Feedback</a>
                </li>
            </ul>
        </div>
        <h1 class="content-title">Booking</h1>
        <div class="add-button">
            <a href="{% url 'adminbookingcreate' %}">Create</a>
        </div>
        <div class="content">
            <ul class="content-list">
                {% for booking in bookinglist %}
                    <li class="content-list-item">
                        <a href="{% url 'adminbookingdetail' booking.pk %}">{{ booking.BookID }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
{% endblock %}