{% extends 'header.html' %}
{% block content %}
<style>
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

    body {
        font-family: "Poppins", sans-serif;
        color: #444444;
    }
    h1 {
        margin: 0;
        font-size: 36px;
        color: #fff;
    }
    .testbox {
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 20px;
        width: 90%;
        margin: 10px;
        margin-left: 5%;
        border-radius: 6px;
        box-shadow: 0 0 20px 0 #333;
    }
    .banner {
        position: relative;
        height: 150px;
        background: linear-gradient(135deg,#7f1734, #bc1a1a);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0 0 20px 0 #333;
    }
    .section-products {
        flex-wrap: wrap;
    }
    .cars {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .car {
        display: grid;
        justify-content: space-between;
        align-items: center;
        height: 350px;
        width: 280px;
        box-shadow: 0 0 20px 0 #333;
    }
    .car .car-image {
        height: 100%;
        width: 280px;
        object-fit: cover;
        margin-right: 20px; 
    }
    .car .car-detail {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .car .car-title {
        font-size: 20px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
        text-decoration: none;
        transition: color 0.3s;
    }
    .car .car-title:hover {
        color: #bc1a1a;
    }
    .car .car-price {
        font-size: 14px;
        color: #333;
    }
</style>
<body>
    <div class="testbox">
        <div class="banner">
            <h1>Car Catalog</h1>
        </div>
    </div>
    <section class="section-products">
		<div class="cars">
		    <!-- Single Product -->
            {% for car in cars %}
				<div class="car">
				    <img class="car-image" src="{{ car.CarImg.url }}">
                    <div class="car-detail">
                        <a class="car-title" href="{% url 'cardetail' car.pk %}">{{ car.CarModel }}</a>
                        <h4 class="car-price">RM {{ car.CarPrice }}/day</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
{% endblock %}