{% extends 'header.html' %}
{% block content %}
<style>
    html, body {
      min-height: 100%;
      }
      h1 {
      margin: 0;
      font-size: 36px;
      color: #fff;
      }
      .testbox {
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      width: 90%;
      margin: 10px;
      margin-left: 5%;
      border-radius: 6px;
      box-shadow: 0 0 20px 0 #333; 
      }
      .banner {
      position: relative;
      height: 150px;
      background: linear-gradient(135deg,#7f1734, #bc1a1a);   
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 20px 0 #333; 
      }
      p {
        font-size: 20px;
        font-weight: 600;
        margin-left: 3%;
        padding-left: 2%;
        margin-right: 3%;
        padding-right: 2%;
        color: #333;
        margin-bottom: 10px;
        border: 2px solid #7f1734;
      }
      .car-detail {
        margin: 20px;
        margin-top: 40px;
      }
      .car-detail h2 {
        padding-top: 20px;
      }
      .car-detail2 {
        display: flex;
      }
      img {
        box-shadow: 0 0 20px 0 #333;
        width: 90%;
        padding-top: 0;
        margin: 3%;
        margin-right: 10%;
        margin-top: 50px;
        margin-left: 5%
      }
      .car-right {
        width: 100%;
        margin-top: 50px;
      }
      .button {
        position: absolute;
        display: flex;
        right: 9%;
        align-items: center;
      }
      .button a {
        text-decoration: none;
        color: #7f1734;
        font-size: 18px;
        margin-left: 10px;
        text-align: center;
        padding: 5px;
        border: 2px solid #7f1734;
      }
</style>
<body>
    <div class="testbox">
      <div class="banner">
          <h1>Car Detail</h1>
      </div>
      <div class="car-detail">
          <div class="car-detail2">
              <div class="car-left">
                <img src="{{ cars.CarImg.url }}" alt="Car Image">
              </div>
              <div class="button">
                {% if cars.OwnID.OwnID.id == request.user.id %}
                  <a href="{% url 'ownerupdatecar' cars.pk %}">Update</a>
                    <form id="delete-form" method="post" action="{% url 'ownerdeletecar' cars.pk %}">
                      {% csrf_token %}
                      <a class="delete-button" onclick="DeleteCar()">Delete</a>
                    </form>
                {% endif %}
                </div>
              <div class="car-right">
                <p>Car Plate Number: {{ cars.CarPlatenum }}</p>
                <p>Car Model: {{ cars.CarModel }}</p>
                <p>Number of Passengers: {{ cars.NumofPassenger }}</p>
                <p>Car Price: {{ cars.CarPrice }}</p>
                <p>Owner ID: {{ cars.OwnID.OwnID }}</p>
                <p>Owner Name: {{ cars.OwnID.OwnName }}</p>
                <p>Owner Phone Number: {{ cars.OwnID.OwnPhonenum }}</p>
                <p>Owner Email: {{ cars.OwnID.OwnEmail }}</p>
                <p>Owner Gender: {{ cars.OwnID.OwnGender }}</p>
              </div>
          </div>
      </div>
  </div>
</body>
<script>
    function DeleteCar() {
        if (confirm('Are you sure you want to delete this car?')) {
            document.getElementById('delete-form').submit();
        }
    }
</script>
{% endblock %}
